body {
    background-image: url('energylandia2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    margin-bottom: -50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    background-color: rgba(173, 216, 230, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    margin-top:20px;
}

.form-group {
    margin-bottom: 7px;
}

label {
    display: block;
    margin-bottom: 0px;
    font-size: 1.1rem;
    color: darkblue;

    margin-top:20px;
}

input, select {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-top: 5px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: blue;
}

.consent {
    font-size: 0.9rem;
    color: darkblue;
    margin-top: 10px;
}

#wyniki {
    background-color: rgba(173, 216, 230, 0.9);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: darkblue;
}

#wyniki h3 {
    margin-top: 0;
    color: darkblue;
}

.reset-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
}

.reset-btn:hover {
    background-color: #45a049;
}
